.form-container {
  text-align: center;
}
.form {
  text-align: center;
  padding: 20px;
}

.form-container input {
  text-align: center;
  width: 200px;
  margin: 40px auto;
}

.form-container button {
  margin: 40px auto 10px auto;
  width: 150px;
  height: 38px;
}

.form-container select {
  border-radius: 3px;
  border-color: rgba(118, 118, 118, 0.4);
  outline: none;
}

.error {
  color: red;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .form-container select {
    border-radius: 3px;
    border-color: rgba(118, 118, 118, 0.4);
    outline: none;
  }
}
