* {
  box-sizing: border-box;
}

.tile-container {
  background-color: rgba(255, 255, 255, 0.6);
  flex: 0 0 72px;
  max-width: 300px;
  height: 72px;
  text-align: center;
  flex-grow: 1;
  margin: 10px;
  position: relative;
  border-radius: 10px;
}

.button {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  border: none;
}

button,
button:focus {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
}

.list:hover .button {
  display: block;
  background-color: transparent;
  position: absolute;
  outline: none;
  top: -8px;
  right: -3px;
}

.tile-container li {
  list-style-type: none;
}
@media (max-width: 768px) {
  .tile-container {
    background-color: rgba(255, 255, 255, 0.6);
    flex: 0 0 100px;
    height: 72px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
  }
}
